DB_connection:
  connector: 'postgresql+psycopg2'
  host: '127.0.0.1:5432'
  db_name: 'bills'
  bills_table_name: 'xml_bills'
  user: ''          # insert your credentials here
  password: ''      # insert your credentials here