backports.zoneinfo==0.2.1
black==22.3.0
click==8.1.2
fnvhash==0.1.0
greenlet==1.1.2
joblib==1.1.0
lxml==4.8.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.28
nltk==3.7
beautifulsoup4==4.11.1
numpy==1.22.3
pathspec==0.9.0
platformdirs==2.5.1
protobuf==3.20.0
psycopg==3.0.11
psycopg-binary==3.0.11
psycopg2-binary==2.9.3
pydantic==1.9.0
PyYAML==6.0
rake-nltk==1.0.6
regex==2022.3.15
scikit-learn==1.0.2
scipy==1.8.0
simhash==2.1.2
soupsieve==2.3.2.post1
SQLAlchemy==1.4.35
sqlalchemy2-stubs==0.0.2a22
sqlmodel==0.0.6
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.64.0
typing_extensions==4.1.1
